/* Navbar*/
:root{
    --bege: #e3dbc3;
    --verdeescuro: #76794b;
    --amarelo: #d5cb81;
    --marrom: #40370c;
    --vermelhovinho: #3e1d08;
    --branco: #fffdcb;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, 'Arial';
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--marrom);
    color: var(--branco);
    font-family: 'Poppins', sans-serif;
    z-index: 10;
    transition: transform 0.2s;

}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.logo{
    color: var(--branco);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: var(--branco);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burguer {
    display: none;
}

.burguer div{
    width: 25px;
    height: 3px;
    background-color: var(--branco);
    margin: 5px;
}

.conteudo {
    padding-left: 20px;
}

/* Body - Conceito*/
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    color: #fffdcb;
}

.heading:first-child{
    background: url(./imagens/imagem1_2blur.jpg);
    background-size: cover;
}

.heading h1 {
    margin: 0;
    padding: 0;
    font-size: 120px;
    color: var(--branco);
    z-index: 10;
    padding-bottom: 60px ;
    line-height: 1;
}

.heading:last-child{
    background-color: #40370c;
    min-height: 50vh;
}

.heading .prox{
    color: white;
}

.subtitle{
    font-size: 15px;
}



section{
    height: auto;
    display: flex;
}

section .imgBx{
    position: sticky;
    top: 0;
    height: 100vh;
    min-width: 50%;
    background: #fffdcb;
}


section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    color: var(--vermelhovinho);
}
section .storyBx{
    padding: 60px;
    background-color: var(--bege);

}

section .storyBx h2{
    margin: 0 0 20px;
    padding: 0;
    font-size: 60px;
}

section .storyBx p{
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: justify;
}

section .comparison {
    background-color: #d5cb81;
    width: 50%;
}

/* MOBILE*/

@media screen and (max-width:1024px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: var(--marrom);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burguer {
        display: block;
        cursor: pointer;
    }
    .heading h1 {
        margin-left: 50px;
        min-width: 70%;
        padding: 0;
        font-size: 80px;
    }
}

.nav-active{
    transform: translate(0%);}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow:none
}



.container{
    width: 100%;
}

.card {
    background-color: #d5cb81;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.28);
    display: flex;
    height: 35rem;
    overflow: hidden;
    width: 100%;
    height: 40vh;



}

.card-image {
    height: auto;
    
}

.card-image img {
    width: 100%;
    height: 240px;
    object-fit: fill;
    display: block;
    flex: 1;
}

.card-content {
    padding: 2rem;
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 120%;

}

.tipos {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #fffdcb;
}

.img-section-img {
    width: 100%;
    background-size: contain;
}